# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Philosophers/FileContentIndex/d07a3cc5-46e3-4af4-9a6d-68c3ffea04b9.vsidx
/.vs/Philosophers/FileContentIndex/29be864e-8966-4b9f-b55d-1a0f79864b80.vsidx
/.vs/Philosophers/FileContentIndex/d07a3cc5-46e3-4af4-9a6d-68c3ffea04b9.vsidx
/.vs/Philosophers/v17/Browse.VC.opendb
