################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Operating-systems/v17/Browse.VC.db-wal
/.vs/Operating-systems/v17/Browse.VC.opendb
/.vs/Operating-systems/v17/Browse.VC.db-shm
/.vs/Operating-systems/FileContentIndex/f89ccd52-9453-410d-ba9e-61b41bb1bc44.vsidx
/.vs/Operating-systems/FileContentIndex/ef1140f7-c546-44c0-bba6-a1b20c1b0a7e.vsidx
/.vs/Operating-systems/FileContentIndex/bc0b854d-047d-464b-a070-907b488711bc.vsidx
/.vs/Operating-systems/FileContentIndex
